<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>
<body>
  <ul>
    <li>
    <% books.forEach(book => { %>
      <%- include('../books/detail.ejs', {book}) %>
      <form action="/books" method="POST">
        <input type="hidden" name="book[title]" value="<%= book.title %>">
        <input type="hidden" name="book[author]" value="<%= book.author %>">
        <input type="hidden" name="book[isbn]" value="<%= book.isbn %>">
        <input type="hidden" name="book[image_url]" value="<%= book.image_url %>">
        <input type="hidden" name="book[description]" value="<%= book.description %>">
        <input type="submit" value="Save book">
      </form>
    <% }) %>
   </li>
  </ul>
</body>
</html>