<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>
<body>
  <ul>
    <li>
    <% books.forEach(value => { %>
      <h2><%= value.title %></h2>
      <h3><%= value.Author %></h3>
      <img src=<%= value.image %> alt="thumnail for <%= value.title %>">
      <p><%= value.description %></p>
    <% }) %>
   </li>
  </ul>
</body>
</html>