<%- include('../../layout/header.ejs') %>

  <ul>
    <li>
    <% books.forEach(book => { %>
      <%- include('../books/detail.ejs', {book, short_description: true}) %>
      <form action="/books" method="POST" class="save_book">
        <input type="hidden" name="book[title]" value="<%= book.title %>">
        <input type="hidden" name="book[author]" value="<%= book.author %>">
        <input type="hidden" name="book[isbn]" value="<%= book.isbn %>">
        <input type="hidden" name="book[image_url]" value="<%= book.image_url %>">
        <input type="hidden" name="book[description]" value="<%= book.description %>">
        <input type="submit" value="Save book">
      </form>
    <% }) %>
   </li>
  </ul>
  <%- include('../../layout/footer.ejs') %>